html,
body{
    padding: 0;
    margin: 0;
}

.more-new-div{
    width: 2px;
    height: 2px;
    border: black solid 2px;
}

.container{
    display: grid;
    width: 400px;
    height: 400px;
}

.black-div{
    background-color: black;
}