:root {
    --gridRow: 1;
    --gridColumn: 1;
}

html,
body{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

.new-div{
    border: black solid 2px;
    padding: 3px;
    display: flex;
}

.container{
    display: grid;
    grid-template-columns: repeat(var(--gridColumn), 1fr);
    grid-template-rows: repeat(var(--gridRow), 1fr);
    width: 400px;
    height: 400px;

}

.black-div{
    background-color: black;
}